<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5a334b5d-e40f-4bc7-a39d-062630adbfb3" name="Project 5 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5a334b5d-e40f-4bc7-a39d-062630adbfb3fileName">Project-5-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
